{% extends 'base/header.html' %}
{% block content %}
    <div class="py-5 px-5 w-50   ">
            <form method ="POST" action="register" class="container">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" name="username" class="form-control" id="username" placeholder="Enter your Username">
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email">
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" id="password">
                </div>
                
                <div class="mb-3">
                    <label for="password" class="form-label">Confirm Password</label>
                    <input type="password" name="password2" class="form-control" id="password2">
                </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
            </form>
    </div>

  {% endblock content %}